@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 240rem;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e4e4e4;
  --foreground: #191919;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-haas);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

.clip-diagonal {
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
}

.clip-diagonal-40 {
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
}

.clip-diagonal-60 {
  clip-path: polygon(60px 0, 100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 60px);
}

.clip-diagonal-80 {
  clip-path: polygon(80px 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%, 0 80px);
}

.clip-diagonal-100 {
  clip-path: polygon(100px 0, 100% 0, 100% calc(100% - 100px), calc(100% - 100px) 100%, 0 100%, 0 100px);
}

.clip-diagonal-top-left {
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
}

.clip-diagonal-top-left-40 {
  clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
}

.clip-diagonal-top-left-60 {
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%, 0 60px);
}

.clip-diagonal-top-left-80 {
  clip-path: polygon(80px 0, 100% 0, 100% 100%, 0 100%, 0 80px);
}

.clip-diagonal-top-left-100 {
  clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%, 0 100px);
}

/* Custom slider styling */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 125px;
  height: 9px;
  background: #ffffff; /* gray-900 */
  border-radius: 8px;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 125px;
  height: 9px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
