@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 240rem;
  --color-light-black: #191919;
  --color-dark-black: #000000;
  --color-gray-5: #393939;
  --color-gray-4: #636363;
  --color-gray-3: #7c7c7c;
  --color-gray-2: #bcbcbc;
  --color-gray-1: #dadada;
  --color-gray-0: #e4e4e4;
  --color-spline-blue: #1c5bff;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e4e4e4;
  --foreground: #191919;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-haas);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

.clip-diagonal {
  clip-path: polygon(60px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 60px) 100%, 0 100%, 0 25px);
}

.clip-diagonal-contact-us {
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 40px) 100%, 0 100%, 0 15px);
}

.clip-diagonal-medium {
  clip-path: polygon(120px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 120px) 100%, 0 100%, 0 50px);
}

.clip-diagonal-large {
  clip-path: polygon(180px 0, 100% 0, 100% calc(100% - 75px), calc(100% - 180px) 100%, 0 100%, 0 75px);
}

/* Custom slider styling */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 125px;
  height: 9px;
  background: #ffffff; /* gray-900 */
  border-radius: 8px;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 125px;
  height: 9px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
